/* Media Queries */
@use "mixins";

/* Variables (Fonts and Colors) */
@use "variables";

/* Bootstrap Icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* Google Fonts (Font: Jersey + JetBrains Mono) */
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

/* Base Styles */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: #020617;
    background-image:
        linear-gradient(rgba(0, 255, 153, 0.20) 0.6px, transparent 0.6px),
        linear-gradient(90deg, rgba(0, 255, 153, 0.20) 0.6px, transparent 0.6px);
    background-size: 50px 50px;
    animation: bg-scrolling-reverse 1.5s linear infinite;

    @keyframes bg-scrolling-reverse {
        100% {
            background-position: 50px 50px;
        }
    }

    @keyframes bg-scrolling {
        0% {
            background-position: 50px 50px;
        }
    }

    .card {
        background: variables.$custom-blue;
        width: 25rem;
        box-shadow: variables.$custom-shadow;

        @include mixins.mobile-md {
            width: 22rem;
        }

        @include mixins.mobile-sm {
            width: 19rem;
        }

        h1 {
            color: variables.$standard-white;
            font-family: variables.$font-family-primary;
            font-size: 4rem;

            span {
                color: variables.$custom-green;
            }

            @include mixins.mobile-md {
                font-size: 3.8rem;
            }

            @include mixins.mobile-sm {
                font-size: 3.6rem;
            }
        }

        a {
            background: variables.$standard-white;
            color: variables.$custom-black;
            font-family: variables.$font-family-secondary;
            padding: 0.5rem 1rem;
            padding-left: 3rem;
            transition: 0.2s ease-in-out;

            i {
                top: 50%;
                left: 1rem;
                transform: translateY(-50%);
            }

            &:hover,
            &:active {
                background-color: variables.$custom-green;
                transform: scale(1.05);
            }
        }
    }
}